[submodule "abi"]
	path = abi
	url = git@github.com:helio-x20-development-board/abi.git
[submodule "art"]
	path = art
	url = git@github.com:helio-x20-development-board/art.git
[submodule "bionic"]
	path = bionic
	url = git@github.com:helio-x20-development-board/bionic.git
[submodule "bootable"]
	path = bootable
	url = git@github.com:helio-x20-development-board/bootable.git
[submodule "build"]
	path = build
	url = git@github.com:helio-x20-development-board/build.git
[submodule "dalvik"]
	path = dalvik
	url = git@github.com:helio-x20-development-board/dalvik.git
[submodule "device"]
	path = device
	url = git@github.com:helio-x20-development-board/device.git
[submodule "developers"]
	path = developers
	url = git@github.com:helio-x20-development-board/developers.git
[submodule "development"]
	path = development
	url = git@github.com:helio-x20-development-board/development.git
[submodule "libcore"]
	path = libcore
	url = git@github.com:helio-x20-development-board/libcore.git
[submodule "libnativehelper"]
	path = libnativehelper
	url = git@github.com:helio-x20-development-board/libnativehelper.git
[submodule "hardware"]
	path = hardware
	url = git@github.com:helio-x20-development-board/hardware.git
[submodule "docs"]
	path = docs
	url = git@github.com:helio-x20-development-board/docs.git
[submodule "pdk"]
	path = pdk
	url = git@github.com:helio-x20-development-board/pdk.git
[submodule "platform_testing"]
	path = platform_testing
	url = git@github.com:helio-x20-development-board/platform_testing.git
[submodule "ndk"]
	path = ndk
	url = git@github.com:helio-x20-development-board/ndk.git
[submodule "system"]
	path = system
	url = git@github.com:helio-x20-development-board/system.git
[submodule "tools"]
	path = tools
	url = git@github.com:helio-x20-development-board/tools.git
[submodule "sdk"]
	path = sdk
	url = git@github.com:helio-x20-development-board/sdk.git
[submodule "packages"]
	path = packages
	url = git@github.com:helio-x20-development-board/packages.git
