[submodule "abi"]
	path = abi
	url = git@github.com:helio-x20-development-board/abi.git
[submodule "art"]
	path = art
	url = git@github.com:helio-x20-development-board/art.git
[submodule "bionic"]
	path = bionic
	url = git@github.com:helio-x20-development-board/bionic.git
[submodule "bootable"]
	path = bootable
	url = git@github.com:helio-x20-development-board/bootable.git
