[submodule "abi"]
	path = abi
	url = git@github.com:helio-x20-development-board/abi.git
[submodule "art"]
	path = art
	url = git@github.com:helio-x20-development-board/art.git
[submodule "bionic"]
	path = bionic
	url = git@github.com:helio-x20-development-board/bionic.git
[submodule "bootable"]
	path = bootable
	url = git@github.com:helio-x20-development-board/bootable.git
[submodule "build"]
	path = build
	url = git@github.com:helio-x20-development-board/build.git
[submodule "dalvik"]
	path = dalvik
	url = git@github.com:helio-x20-development-board/dalvik.git
[submodule "device"]
	path = device
	url = git@github.com:helio-x20-development-board/device.git
[submodule "developers"]
	path = developers
	url = git@github.com:helio-x20-development-board/developers.git
